<h1>
	Welkom <%= current_user.name %>
</h1>

	<div id="user_container">
		
		<div class="avatar">

			<%= image_tag render_userpic %>
			
		</div>	
	
	<div class="name_block">
		

		<div class="place_article_button">
			<button type="button">
			
			</button>
		</div>
	</div>
		<div class="user_links">
			<a href="">Eigen artikelen</a>
			<a href="">Favorieten</a>
		</div>
	</div>

	<script type="text/javascript">
		window.onload=function(UsersetupCollums){};

	</script>
<!--Articles============================================================!-->
<div id="res_wrapper">
<% userarticlenumber = 0 %>
	<% @articleslimit.each do |article| %>
	<div class="artikel_wrapper">
		<div class="artikel_container">
				<div class="kop_k">
					<h3><%= article.title %></h3>
				</div>
					
					<img class="artikel_tegel" src="<%= article.picture_url(:thumb)  %>" alt="images">
					
					<div class="text_wrapper">
					<%= truncate(article.content, :length => 270, :separator => ' ') %>
					</div>

					<button class="article-index-button" id="<%= userarticlenumber %>">Bekijken <div></div> </button>
					
					
					<%= link_to 'Show', article %>
					<%= link_to 'Edit', edit_article_path(article) %>
					<%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
					
		</div>
	</div>


	<% end %>
</div>


	 <button class='user-articles-morebutton'>show more?</button>
	<div class="user-articles-morecontent"></div>

</div>



	


