<h1>
	Welkom <%= current_user.name %>
</h1>

	<div id="user" class ="container">
			<h2 class="welcome"></h2>
		
		<div class="avatar">
			<img src="">
		</div>	
	
	<div class="name_block">
		<h3 class="username">Welkom <%= current_user.name %></h3>

		<div class="place-article_button">
			<button type="button">
			
			</button>
		</div>
	</div>
		<div class="user_links">
			<a href="">Eigen artikelen</a>
			<a href="">Favorieten</a>
		</div>
	</div>

<!--Articles============================================================!-->

<div id="articles" class="container">
	<% @articles.each do |article| %>
		<div class="article_block">
			<img class="article_tile" src="" alt="images">

				<div class="text_wrapper">
					<h3><%= article.title %></h3>
					<div class="article_text">
					<%= truncate(article.content, :length => 150, :separator => ' ') %>
					</div>
					<%= article.created_at %>
					<%= link_to 'Show', article %>
					<%= link_to 'Edit', edit_article_path(article) %>
					<%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
				</div>
		</div>
	<% end %>

</div>
