<!--SPORE======================================================================================================-->
<div id="spore_wrapper">
	<div id="spore_container">
		<a href="#"><div class="spore_item corner"></div></a>
		<a href="#"><div class="spore_item corner"></div></a>
		<a href="#"><div class="spore_item corner"></div></a>
		<a href="#"><div class="spore_item corner"></div></a>
		<a href="#"><div class="spore_item corner"></div></a>
		<a href="#"><div class="spore_item corner"></div></a>
		<a href="#"><div class="spore_item corner"></div></a>
		<a href="#"><div class="spore_item corner"></div></a>
		<a href="#"><div class="spore_item corner"></div></a>
	</div>

	<div id="btn_container"> 
		<button id="btn_spore"></button>
	</div>

</div>

<!--ARTICLES======================================================================================================-->

	<header>
			<!--LOGIN ====================================-->
			<div style="display:none;">
				<%= link_to 'Edit', edit_article_path(@article) %> | 
				<%= link_to 'Back', articles_path %> | <%= button_to 'Verwijderen', @article, method: :delete, data: { confirm: 'Are you sure?' } %>

			</div>
			<div id="inlog_wrapper">
				<button id="btn_inloggen" class="boven corner">Inloggen</button>
				<button id="btn_registreren" class="boven corner">Registreren</button>
			</div>
	</header>

<div id="wrapper">

<div id="artikel_bekijken" class="corner">
<h3><%= @article.title %></h3>
<div id="text">
<%= @article.content %>
</div>

<div id="picture">
	<%= image_tag @article.picture_url(:thumb) %>
</div>

	<div id="tages"><br>
	<b>Tags</b><br> 
		<%= @article.tags %>
	</div>
	<div class="userfield">
		user<br>
		<%= @userName %>
	</div>
</div>
</div>
