<% provide(:title, 'Edit user') %>
<h1>Update your profile</h1>

<div class="row">
	<div class="span6 offset3">


<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages' %>
	<%= f.label :name %><br/>
	<%= f.text_field :name %><br/><br/>

	<%= f.label :email %><br/>
	<%= f.text_field :email %><br/><br/>

	<%= f.label :password %><br/>
	<%= f.password_field :password %><br/><br/>

	<%= f.label :password_confirmation, "Confirmation" %><br/>
	<%= f.password_field :password_confirmation %><br/><br/>

	<%= f.submit "save changes", class: "btn btn-large btn-primary" %>
<% end %>

	<br/><%= gravatar_for @user %>
	<a href="http://gravatar.com/emails" target="_blank">change</a>
	
	</div>
</div>