<h1>Register</h1>

	<div>
		<% if flash[:status] == true %>
			<p><%= flash[:alert] %></p>
		<% elsif flash[:status] == false %>
			<% flash[:alert].each do |error| %>
		<p><%= error %></p>
		<% end %>
	<% end %>
</div>

<%= form_for @user do |user| %>

	<div>
		<%= user.label(:first_name, "First Name") %><br/><br/>
		<%= user.text_field :first_name, :placeholder => 'Naam' %>
	</div>
	
	<div>
		<%= user.label(:last_name, "Last Name") %><br/><br/>
		<%= user.text_field :last_name, :placeholder => 'Achternaam' %>
	</div>

	<div>
		<%= user.label(:password, "Password") %><br/><br/>
		<%= user.password_field :password, :placeholder => 'Wachtwoord' %>
	</div>

	<div>
		<%= user.label(:password_confirmation, "Password Confirmation") %><br/><br/>
		<%= user.password_field :password_confirmation, :placeholder => 'Wachtwoord bevestiging' %>
	</div>

	<div>
		<%= user.label(:email, "Email") %><br/><br/>
		<%= user.text_field :email, :placeholder => 'E-mail adres' %>
	</div>

	<div>
		<br/><%= submit_tag "Register" %>
	</div>

<% end %>
