<!DOCTYPE html>
<html>
<head>
  <title>Inspiratieplanet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Notification system -->
	<% if flash[:notice] %>
		<div id="flash_notice"><%= flash[:notice] %></div>
	<% end %>

	<% if flash[:error] %>
		<div id="flash_error"><%= flash[:error] %></div>
	<% end %>

	<% if flash[:alert] %>
		<div id="flash_alert"><%= flash[:alert] %></div>
	<% end %>
	
	<!-- page system -->

	<div id= "main" class="container">
		<div id="header" class="container">
				<% if user_signed_in? %>
				  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
				<% else %>
				  <%= link_to('Login', new_user_session_path)  %>  
				<% end %>
		</div>

		<%= yield %>
		<div id="footer" class ="container">
			<p>Geeninspiratie.nl, de site met 10000+ inspiratietips, idee&euml;n, unieke links en meer!</p>
		</div>
	</div>
	<%= debug(params) if Rails.env.development? %>

</body>
</html>

